#root {
  max-width: 550px;
  height: 550px;
  margin: 0 auto;
  background: rgb(243, 243, 243);
  border-radius: 10px;
}

.title--container {
  display: flex;
  flex-direction: column;
}

.title,
.instructions {
  text-align: center;
}
.instructions {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0px 20px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex-direction: column;
}
.flex--container {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.dies--boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dies,
button {
  cursor: pointer;
}

.dies {
  width: 50px;
  height: 50px;
  margin: 6px;
  text-align: center;
  line-height: 50px;
  background: white;
  box-shadow: 0px 3px 2px #ddd;
  border-radius: 4px;
  font-size: 20px;
}

button {
  padding: 15px 30px;
  margin: 48px;
  background: blue;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 800;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 0px 7px 10px -3px rgba(0, 0, 0, 0.7);
}
